.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /* height: 150px; */
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

input[type="checkbox"] {
  zoom: 140%;
  cursor: pointer;
  outline: 0;
}
h2 {
  margin-left: 15px;
  font-variant: small-caps;
  text-decoration: underline;
}

.pick {
  margin: 0 15px 1em;
}

label {
  cursor: pointer;
}

.pick button {
  margin-right: 5px;
  zoom: 200%;
  width: 30px;
  cursor: pointer;
  outline: 0;
}

.pick strong {
  /* font-variant: small-caps; */
  /* font-size: 120%; */
}
.pick table {
  background-color: #eee;
  padding: 10px;
  margin-top: 5px;
  width: 100%;
  max-width: 700px;
  font-family: monospace;
}
.pick b span {
  width: 4em;
  text-align: center;
  display: inline-block;
}
table th {
  text-decoration: underline;
  /* border-bottom: 1px solid black; */
}
.positive {
  color: green;
}
.negative {
  color: red;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
